<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/styles/main.css">
  <title>Dieter Rams - 10 Principles of Design</title>
</head>
<body>
	<div class="container">
		<header class="header">
			<h1 class="header__title">Ten principles of design</h1>
			<span class="header__sub-title">/Dieter Rams</span>
		</header>

		<section>
			<img src="static/images/350.jpg" alt="">
			<span>img captions</span>
			<div>
				<h2>Good design is innovative</h2>
				<p>The possi</p>
			</div>
		</section>

		<div>
			scroller dots
		</div>

		<footer>
			footer section
		</footer>
	</div>
<!--   <div id="app"></div>
  <link async href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="static/js/app.js"></script>
 -->
 </body>
</html>